/* ---------- Catppuccin Mocha Palette ---------- */
@define-color bg #1e1e2e;        /* base (background) */
@define-color surface0 #313244;  /* surface0 */
@define-color surface1 #45475a;  /* surface1 */
@define-color fg #cdd6f4;        /* text (foreground) */
@define-color subtext1 #bac2de;  /* subtext1 */
@define-color accent #89b4fa;    /* blue (accent color) */
@define-color sel-fg #1e1e2e;    /* base text on selection */
@define-color red #f38ba8;       /* red */
@define-color green #89b4fa;     /* blue */
@define-color yellow #f9e2af;    /* yellow */
@define-color blue #89b4fa;      /* blue */
@define-color magenta #f5c2e7;   /* magenta */
@define-color cyan #94e2d5;      /* cyan */

/* ---------- Base styling ---------- */
* {
    border-radius: 0;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    color: @fg;
    border: none;
}

/* ---------- Workspaces ---------- */
#workspaces {
    padding: 0;
    margin: 0;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 4px;
    color: @accent;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #1e1e2e;
    background-color: #89b4fa;
    font-weight: bold;
    border-bottom: 3px solid #89b4fa;
    padding: 2px 8px;
    margin: 0 4px;
}

#workspaces button.urgent {
    color: @sel-fg;
    background-color: @red;
}


/* ---------- Window title ---------- */
#window {
    color: @fg;
    padding: 0 10px;
}

/* ---------- Clock ---------- */
#clock {
    color: @sel-fg;
    background-color: @accent;
    font-weight: normal;
    padding: 4px 10px;
    margin: 0 4px;
}

#clock:hover {
    opacity: 0.8;
}

/* ---------- System tray ---------- */
#tray {
    background-color: transparent;
    color: @fg;
    margin: 0;
    padding: 0 5px;
}

/* ---------- Pulseaudio ---------- */
#pulseaudio {
    color: @cyan;
    background-color: transparent;
    margin: 0;
    padding: 0 5px;
    font-size: 22px;
}

#pulseaudio.muted {
    color: @red;
}

/* ---------- Battery ---------- */
#battery {
    color: @accent;
    font-size: 22px;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#network {
    color: #94e2d5;
    background-color: transparent;
    margin:0;
    padding: 0 10px;
    font-size: 22px;
}

#network.disconnected {
    color: @red;
}

/* ---------- Taskbar ---------- */
#taskbar button {
    padding: 0 8px;
    margin: 0 4px;
    color: #9399b2;
    background: transparent;
    border: none;
}

#taskbar button.active {
    color: @sel-fg;
    background-color: @accent;
    padding: 2px 8px;
    margin: 0 4px;
}

#taskbar button:hover {
    opacity: 0.8;
}
